spring:
  kafka:
    consumer:
      bootstrap-servers: localhost:9092
      group-id: group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring:
          json:
            trusted:
              packages: '*'
    producer:
      bootstrap-servers: localhost:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
admin:
  message:
    queue: ''
  max:
    thread:
      count: 10
    db:
      connections:
        count: 10
  commands:
    add: ''
    delete: ''
    update: ''
  classes:
    update: ''
  status: running
  error:
    reporting:
      level: info
